<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
</head>

<body>


    <!-- Scriplet tags that allow for us to use JS code...only used for select situation... keep logic to server file  -->
    <%  if(kindOfDay === "Saturday" || kindOfDay === "Sunday") { %>
    <h1 style="color: purple"> <%= kindOfDay %> To Do List </h1>
    <%  } else { %>
    <h1 style="color: blue"> <%= kindOfDay %> To Do List </h1>
    <%  } %>




</body>

</html>