/*************TAG SELECTORS*************/

h1 {
  color: red;
  font-size: 200px;
}

img:hover {
  background-color: gold;
}


/*************CLASS SELECTORS*************/
/* Use 'class' to group related elements */

.bacon {
  background-color: green;
}

.broccoli {
  background-color: red;
}

.circular {
  border-radius: 100%;
}


/**********ID SELECTORS*************/
/* Use 'id' selector for single unique element */

#heading {
  color: blue;
}
