body {
  margin: 0;
  /* text-align centers everything in the parent thaht doesn't have a 'width' set */
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  /* see CSS MDN for more info */
  /*
  margin: 0 auto 0 auto;
  width: 10%;
  */
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;  /* Use percentage or rem so the font scales on browser. 100% = 1rem = 16px */
  margin: 50px auto 0 auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #e1f2fb;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
