body {
  margin: 0;
  /* text-align centers everything in the parent thaht doesn't have a 'width' set */
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  /* see CSS MDN for more info */
  /*
  margin: 0 auto 0 auto;
  width: 10%;
  */
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;  /* Use percentage or rem so the font scales on browser. 100% = 1rem = 16px */
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: none; /* Make all sides of border not visible */
  border-top-style: dotted; /* Change top-side solid border to dottede border */
  border-color: grey; /* Color of the dots */
  border-width: 5px; /* Size of the dots */
  margin-top: 50px;
  width: 5%; /* Size of the horiztonal rule (hr) based on percent of website */
}

.top-container {
  background-color: #e1f2fb;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {
  color: #f1f3f4;
  background-color: #66BFBF;
  padding-top: 25px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.contact-link {
	box-shadow: 0 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0 1px 0 #3d768a;
  margin: 50px auto 100px auto;
}
.contact-link:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.contact-link:active {
	position:relative;
	top:1px;
}

.course-img {
  float: right;
  margin-left: 30px;
  width: 25%;
}

.citation {
  color: #f1f3f4;
}

.footer-link {
  color: #2a7886;
  margin: 0 10px auto 10px;
}

.profile {
  margin-top: 50px;
}

.skill-row {
  line-height: 2;
  margin: 100px auto 150px auto;
  text-align: left;
  width: 50%;
}

.skill-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
