#title {
  background-color: #ff4c68;
  color: #FFF;
}

body {
  font-family: Montserrat;
}

.container-fluid {
  padding: 3% 15% 9%;
}

h1 {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-weight: 900;
  font-size: 3.5rem;
}

h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

p {
  color: #8F8F8F;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 450;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */
#features {
  padding: 7% 15%;
  background-color: #FFF;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 4.5%;
}

.icon {
  color: #EF8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #FF4C68;
}

/* Testimonial & Press Sections */
#testimonials {
  text-align: center;
  background-color: #EF8172;
  color: #FFF;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel {
  padding: 7% 15%;
}


#press {
  background-color: #EF8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}

/* Call to Action Section */
#cta {
  background-color: #FF4C68;
  color: #FFF;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer Section */
#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 20px;
}

/* Makes responsive based on Computer, Laptop, Tablet, Mobile */
@media (max-width: 1028px) {

    #title {
      text-align: center;
    }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
